<!DOCTYPE html>
<html>
<head>
  <title>NoteAry</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    window.notearyAssets = {
      background: "<%= image_url("splash-background.jpg") %>"
    }
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
